<!-- views/read.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%=article.title%></title>

    <!-- AJAX 통신을 위한 jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bulma CSS 링크 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!-- 커스텀 폰트 -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css" />

    <!-- font-awesome 링크  -->
    <script src="https://kit.fontawesome.com/23b05056a7.js" crossorigin="anonymous"></script>

    <style>
        *, input::placeholder{
            font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
        }
    </style>
    <script>
        
    </script>
</head>


<body>
    <section class="hero is-info is-small">
        <div class="hero-body">
          <p class="title" style="text-align: center;">
            나의 항해99 미니 블로그 - <%=article.articleId %>
          </p>

        </div>
      </section>
      <div class="container">
        <!-- START ARTICLE FEED -->
        <section class="articles">
            <div class="column is-8 is-offset-2">
                <div class="block" id="myblock">
                    <div class="buttons is-right">
                        <a class="button is-primary" onclick="location.href='<%=article.articleId%>/modify'">
                            <span class="icon is-small"><i class="fas fa-edit"></i></span>
                            <span>수정하기</span>
                        </a>
                    </div>
                </div>
                <!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content has-text-centered">
                                <p class="title article-title"><%=article.title%></p>
                                <div class="tags has-addons level-item">
                                    <span class="tag is-rounded is-info">by <%=article.authorName%></span>
                                    <span class="tag is-rounded"><%=(article.createdAt).toLocaleDateString('ko-KR')%></span>
                                </div>
                            </div>
                        </div>
                        <div class="content article-body">
                            <p><%=article.content%></p>
                        </div>
                        <hr>
                        <div class="content comments-body">
                            <div class="block">댓글 <span style="color:deepskyblue"><%=commentsInfo.length%></span></div>
                            <% for(commentInfo of commentsInfo){ %>
                            
                            <div class="content comment box">
                                <div class="comments_userinfo tags">
                                    <span class="tag is-rounded is-dark"><%=commentInfo.authorInfo.authorName%></span>
                                    <span class="tag is-rounded is-light"><%=(commentInfo.createdAt).toLocaleDateString('ko-KR')%></span>
                                </div>
                                <div class="comments_content"><%=commentInfo.content%></div>
                                <!-- 로그인한 사용자의 정보와 이 코멘트의 아이디가 같은경우만 출력-->
                                <div class="comments_buttons">
                                    <div class="buttons are-small is-right">
                                        <button type="submit" class="button is-primary is-light" onclick="modifyComment();">
                                            <span class="icon is-small"><i class="fas fa-edit"></i></span>
                                            <span>수정</span>
                                        </button>
                                        <button type="submit" class="button is-danger is-light" onclick="deleteComment();">
                                            <span class="icon is-small"><i class="fas fa-trash"></i></span>
                                            <span>삭제</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                            <div class="block"><strong>댓글 남기기</strong></div>
                            <div class="control">
                                <textarea id="new_comment" class="textarea" placeholder="여기에 댓글을 작성하기.." rows="3"></textarea>
                                <div class="buttons is-right">
                                    <button class="button is-primary is-light is-small is-right" onclick="postComment()">댓글 달기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END ARTICLE -->   
			</div>
		</div>
	</section>

</body>

</html>